:root {
    --primary-color: blue;
}

main {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#gameboard {
    width: 75vmin;
    height: 75vmin;

    margin: 5vmin;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;

}

.cell {
    width: 33%;
    height: 33%;
}

#info {
    width: auto;
}

#info form {
    margin: 1vmin;
    padding: 5vmin;
    height: auto;
    display: flex;
    flex-direction: column;
}